.auth_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100v0;
  
  & form {
    width: 400px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    text-align: center;
    border-radius: 10px;

    h2 {
      color: white;
    }

    input {
      width: 80%;
      padding: 15px 0;
      margin: 10px 0;
      border-radius: 10px;
      border: 0;
      outline: 0;
      background-color: white;
      font-size: 20px;
    }
    
    .errors {
      color: red;
      margin: 0;
    }

    .success {
      color: rgb(28, 192, 28);
      margin: 0;
    }
  }
}